[Desktop Entry]
Type=Application
Name=Pypredict
Version=3.3.0
GenericName=Orbit propagator
Comment=Real-time satellite tracker and orbit propagator
Terminal=false
Categories=Application;Science;DataVisualization;Engineering
StartupNotify=true
Exec=~/.local/bin/pypredict
Icon=~/.local/lib/python3.7/site-packages/pypredict/img/favicon.png
